{<<"app">>,<<"timescale">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,<<"Easy time-series data in TimescaleDB with Ecto">>}.
{<<"elixir">>,<<"~> 1.11">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/timescale">>,<<"lib/timescale/toolkit.ex">>,
  <<"lib/timescale/migration.ex">>,<<"lib/timescale/query_utils.ex">>,
  <<"lib/timescale/migration_utils.ex">>,
  <<"lib/timescale/hyperfunctions.ex">>,<<"lib/timescale/exceptions.ex">>,
  <<"lib/timescale.ex">>,<<"mix.exs">>,<<"README.md">>,<<"LICENSE">>]}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/davydog187/timescale">>}]}.
{<<"name">>,<<"timescale">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"ecto_sql">>},
   {<<"name">>,<<"ecto_sql">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 3.8">>}]]}.
{<<"version">>,<<"0.1.1">>}.
