{<<"links">>,
 [{<<"GitHub">>,
   <<"https://github.com/salemove/opentelemetry_logger_metadata">>},
  {<<"OpenTelemetry Erlang">>,
   <<"https://github.com/open-telemetry/opentelemetry-erlang">>},
  {<<"OpenTelemetry.io">>,<<"https://opentelemetry.io">>}]}.
{<<"name">>,<<"opentelemetry_logger_metadata">>}.
{<<"version">>,<<"0.2.0">>}.
{<<"description">>,<<"Adds OpenTelemetry trace identifiers to logs">>}.
{<<"elixir">>,<<"~> 1.16">>}.
{<<"app">>,<<"opentelemetry_logger_metadata">>}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"files">>,
 [<<"lib">>,<<"lib/opentelemetry_logger_metadata.ex">>,<<".formatter.exs">>,
  <<"mix.exs">>,<<"README.md">>,<<"LICENSE">>,<<"CHANGELOG.md">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"VERSION">>,<<"src">>,
  <<"src/opentelemetry_logger_metadata.app.src">>,
  <<"src/opentelemetry_logger_metadata.erl">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"opentelemetry_api">>},
   {<<"app">>,<<"opentelemetry_api">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.0">>},
   {<<"repository">>,<<"hexpm">>}]]}.
{<<"build_tools">>,[<<"mix">>,<<"rebar3">>]}.
