{<<"links">>,[{<<"GitHub">>,<<"https://github.com/ash-project/ash_admin">>}]}.
{<<"name">>,<<"ash_admin">>}.
{<<"version">>,<<"0.11.11">>}.
{<<"description">>,
 <<"A super-admin UI for Ash Framework, built with Phoenix LiveView.">>}.
{<<"elixir">>,<<"~> 1.10">>}.
{<<"app">>,<<"ash_admin">>}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"ash">>},
   {<<"app">>,<<"ash">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 3.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"ash_phoenix">>},
   {<<"app">>,<<"ash_phoenix">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 2.1 and >= 2.1.8">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"phoenix_view">>},
   {<<"app">>,<<"phoenix_view">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 2.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"phoenix">>},
   {<<"app">>,<<"phoenix">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.7">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"phoenix_live_view">>},
   {<<"app">>,<<"phoenix_live_view">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 0.20">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"phoenix_html">>},
   {<<"app">>,<<"phoenix_html">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 4.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"jason">>},
   {<<"app">>,<<"jason">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"gettext">>},
   {<<"app">>,<<"gettext">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 0.26">>},
   {<<"repository">>,<<"hexpm">>}]]}.
{<<"files">>,
 [<<"lib">>,<<"lib/ash_admin">>,<<"lib/ash_admin/web.ex">>,
  <<"lib/ash_admin/actor_plug">>,<<"lib/ash_admin/actor_plug/plug.ex">>,
  <<"lib/ash_admin/session_plug.ex">>,<<"lib/ash_admin/gettext.ex">>,
  <<"lib/ash_admin/domain.ex">>,<<"lib/ash_admin/router.ex">>,
  <<"lib/ash_admin/components">>,
  <<"lib/ash_admin/components/core_components.ex">>,
  <<"lib/ash_admin/components/layouts.ex">>,
  <<"lib/ash_admin/components/sidebar_nav">>,
  <<"lib/ash_admin/components/top_nav">>,
  <<"lib/ash_admin/components/top_nav/tenant_form.ex">>,
  <<"lib/ash_admin/components/top_nav/drawer_dropdown.ex">>,
  <<"lib/ash_admin/components/top_nav/actor_select.ex">>,
  <<"lib/ash_admin/components/top_nav/dropdown.ex">>,
  <<"lib/ash_admin/components/top_nav.ex">>,
  <<"lib/ash_admin/components/resource">>,
  <<"lib/ash_admin/components/resource/sensitive_attribute.ex">>,
  <<"lib/ash_admin/components/resource/resource.ex">>,
  <<"lib/ash_admin/components/resource/generic_action.ex">>,
  <<"lib/ash_admin/components/resource/show.ex">>,
  <<"lib/ash_admin/components/resource/select_table.ex">>,
  <<"lib/ash_admin/components/resource/data_table.ex">>,
  <<"lib/ash_admin/components/resource/table.ex">>,
  <<"lib/ash_admin/components/resource/metadata_table.ex">>,
  <<"lib/ash_admin/components/resource/info.ex">>,
  <<"lib/ash_admin/components/resource/form.ex">>,
  <<"lib/ash_admin/components/resource/nav.ex">>,
  <<"lib/ash_admin/actor_plug.ex">>,
  <<"lib/ash_admin/show_resources_transformer.ex">>,
  <<"lib/ash_admin/helpers.ex">>,<<"lib/ash_admin/errors">>,
  <<"lib/ash_admin/errors/not_found.ex">>,<<"lib/ash_admin/resource">>,
  <<"lib/ash_admin/resource/resource.ex">>,
  <<"lib/ash_admin/resource/field.ex">>,
  <<"lib/ash_admin/resource/transformers">>,
  <<"lib/ash_admin/resource/transformers/validate_table_columns.ex">>,
  <<"lib/ash_admin/pages">>,<<"lib/ash_admin/pages/page_live.ex">>,
  <<"lib/ash_admin.ex">>,<<"priv">>,<<"priv/static">>,
  <<"priv/static/cache_manifest.json">>,<<"priv/static/assets">>,
  <<"priv/static/assets/app.css.gz">>,<<"priv/static/assets/app.js.gz">>,
  <<"priv/static/assets/app-d54a95ca3792fdeadf5d6da4085ef26b.css.gz">>,
  <<"priv/static/assets/app-fd8b8b15fab22a70dc800c2f99dde37b.css.gz">>,
  <<"priv/static/assets/app-74aff53593bb5fd5b1ac16ed19d10fd0.js.gz">>,
  <<"priv/static/assets/app-4cac13ea03859a04cf1f2fa606cff89e.js.gz">>,
  <<"priv/static/assets/app-59a15220eea2e31a1f34360ac7d7d431.js.gz">>,
  <<"priv/static/assets/app-dd7097dcf40a37e608bbcbd54509199a.js">>,
  <<"priv/static/assets/app-f480ad9fb2a3744d668ac31cc919441f.css.gz">>,
  <<"priv/static/assets/app-1f85b607e5d3b3557bfff0e2c7dc2ce3.css.gz">>,
  <<"priv/static/assets/app-6b7e50da413ab1e6d412c95cc2602d2c.js">>,
  <<"priv/static/assets/app-f480ad9fb2a3744d668ac31cc919441f.css">>,
  <<"priv/static/assets/app-4cac13ea03859a04cf1f2fa606cff89e.js">>,
  <<"priv/static/assets/app-d54a95ca3792fdeadf5d6da4085ef26b.css">>,
  <<"priv/static/assets/app.css">>,
  <<"priv/static/assets/app-fd8b8b15fab22a70dc800c2f99dde37b.css">>,
  <<"priv/static/assets/app-59a15220eea2e31a1f34360ac7d7d431.js">>,
  <<"priv/static/assets/app-7ac0a883bdd7fba54b64127a4326af23.js.gz">>,
  <<"priv/static/assets/app-dd7097dcf40a37e608bbcbd54509199a.js.gz">>,
  <<"priv/static/assets/app-aac45a999218cb837d0d4006c02b7dff.js.gz">>,
  <<"priv/static/assets/app-4d6d69c9c6433f419bbe0af63996c265.js.gz">>,
  <<"priv/static/assets/app-1f85b607e5d3b3557bfff0e2c7dc2ce3.css">>,
  <<"priv/static/assets/app-461c6cd848f375b47674ff73f226020a.js">>,
  <<"priv/static/assets/app-3fa937a112949ac438455261a1262981.js.gz">>,
  <<"priv/static/assets/app-aac45a999218cb837d0d4006c02b7dff.js">>,
  <<"priv/static/assets/app-4b52491b6da4ab0e27fb4fe3866179ac.js.gz">>,
  <<"priv/static/assets/app-4d6d69c9c6433f419bbe0af63996c265.js">>,
  <<"priv/static/assets/app-d8e3b5f3351374f1140420623c5cc40c.css">>,
  <<"priv/static/assets/app-4b52491b6da4ab0e27fb4fe3866179ac.js">>,
  <<"priv/static/assets/app-6b7e50da413ab1e6d412c95cc2602d2c.js.gz">>,
  <<"priv/static/assets/app-d8e3b5f3351374f1140420623c5cc40c.css.gz">>,
  <<"priv/static/assets/app-461c6cd848f375b47674ff73f226020a.js.gz">>,
  <<"priv/static/assets/app.js">>,
  <<"priv/static/assets/app-7ac0a883bdd7fba54b64127a4326af23.js">>,
  <<"priv/static/assets/app-74aff53593bb5fd5b1ac16ed19d10fd0.js">>,
  <<"priv/static/assets/app-3fa937a112949ac438455261a1262981.js">>,
  <<".formatter.exs">>,<<"mix.exs">>,<<"README.md">>,<<"LICENSE">>,
  <<"CHANGELOG.md">>]}.
{<<"build_tools">>,[<<"mix">>]}.
