{<<"links">>,[{<<"GitHub">>,<<"https://github.com/alfert/propcheck">>}]}.
{<<"name">>,<<"propcheck">>}.
{<<"version">>,<<"1.5.0">>}.
{<<"description">>,
 <<"PropCheck provides property based testing and is an Elixir layer around\nPropEr. It is also inspired by Quviq's QuickCheck Elixir library.">>}.
{<<"elixir">>,<<"~> 1.7">>}.
{<<"app">>,<<"propcheck">>}.
{<<"licenses">>,[<<"GPL 3.0">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"proper">>},
   {<<"app">>,<<"proper">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.5">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"libgraph">>},
   {<<"app">>,<<"libgraph">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 0.13">>},
   {<<"repository">>,<<"hexpm">>}]]}.
{<<"files">>,
 [<<"lib">>,<<"lib/yield_instrumenter.ex">>,<<"lib/statem">>,
  <<"lib/statem/reporter.ex">>,<<"lib/statem/model_dsl.ex">>,
  <<"lib/targeted.ex">>,<<"lib/statem.ex">>,<<"lib/statem_dsl.ex">>,
  <<"lib/properties.ex">>,<<"lib/mix.ex">>,<<"lib/instrument.ex">>,
  <<"lib/fsm.ex">>,<<"lib/result.ex">>,<<"lib/basic_types.ex">>,
  <<"lib/propcheck.ex">>,<<"lib/counterstrike.ex">>,<<"lib/app.ex">>,
  <<"lib/propcheck">>,<<"lib/propcheck/output_agent.ex">>,
  <<"lib/propcheck/logger.ex">>,<<"lib/propcheck/utils.ex">>,
  <<".formatter.exs">>,<<"mix.exs">>,<<"README.md">>,<<"LICENSE">>,
  <<"CHANGELOG.md">>]}.
{<<"build_tools">>,[<<"mix">>]}.
